<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>Collective Migration</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    </style>
        <!-- CHANGE THE PATH TO ARTISTOO'S DIR IF NECESSARY -->
        <script src="static/vendor/artistoo/build/artistoo.js"></script>
        <script src="static/vendor/artistoo/examples/html/fpsmeter.min.js"></script>
        <script src="static/config.js"></script>
        <script src="static/migrating_cpm.js"></script>
    </head>
    <!-- available parameters can be seen in config.js's defaultConfig-->
    <!-- {10, 50, 100, 150, 170} {0, 4, 5, 8}  -->
    <body onload="migratingCPM({'nCells': {{ cells }}, 'nObstacles': {{ obstacles }}})">
      <div id="wrap">
        <h1>Natural Computing Assignment 3: Cellular Potts Models of Collective Migration</h1>
        <div id="main">
          <div>
            <h2>Simulation</h2>
            <div id="canvas"></div>
          </div>
          <div id="info">
            <div>
              <h2>Metrics</h2>
              <p>Average instantaneous velocity: <span id="insta_velo">0</span> px/kMCS</p>
            </div>
            <div>
              <h2>Data</h2>
              <button id="data">Download Simulation Data</button>
            </div>
          </div>
        </div>
        <div id="pics">
        </div>
      </div>
    </body>
</html>
