body {
    padding: 15px;
    display: flex;
    justify-content: center;
}


#wrap {
    max-width: 70rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wrap * {
    padding: 0.5rem;
}

#main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}